<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
        <title>Лабораторные работы 4го семестра</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="../static/img/лого3.png" />
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        {% block myscript %}{% endblock %}
        <!-- <script defer src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script> -->
        <!--
            <script type="module" src="../static/js/serverCalls.js"></script>
            <script type="module" src="../static/js/sayHi.js"></script>
            <script type="module" src="../static/js/options.js"></script>
            <script type="module" src="../static/js/vanilla.js"></script>
        -->
        <!-- <script defer src="../static/js/drawMyCharts.js"></script> -->
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>