{% extends "base.html" %}
{% block myscript %}
<script type="module" src="../static/js/lab04/vanilla.js"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="header">
        <h1>
            Лабораторная работа № 4: программная имитация i-ого прибора
        </h1>
    </div>
    <div class="meta_info">
        <div>
            Преподаватель <span>Рудаков И.В.</span>
        </div>
        <div>
            Выполнил студент <span>Шевченио И.С.</span>
        </div>
        <div>
            Группа ИУ7-68Б(В)
        </div>
        <div>
            2021 год
        </div>
    </div>
    <div class="content">
        <div class="task">
            <div class="task_info">
                <p>Описание задания</p>
            </div>
            <div class="task_descr">
                <p>
                    У нас есть генератор (или источник сообщений), есть память, и есть обслуживающий аппарат (ОА).
                    Генератор выдаёт сообщения по равномерному закону распределённого в интервале от a до b.
                    ОА выбирает сообщения из памяти, и вот здесь препод пишет наш закон, тот который мы писали во 2-й ЛР
                    (по вариантам, нормальный, экспоненциальный, пуассоновский и т.д.). Все эти законы параметрически настраиваются.
                </p>
                <ol>
                    <li>
                        Необходимо определить минимальную длину очереди (или объём памяти),
                        при котором сообщения не теряются (т.е. не возникает такая ситуация, когда сообщение идёт в ОА, а он занят).
                        Реализовывать это нужно двумя способами (принципами): дельта t  и событийно. Посмотреть есть ли разница.
                    </li>
                    <li>
                        А дальше наступает ужас-ужас. Препод умудряется передать выданные сообщения из ОА в процентном соотношении снова на вход очереди.
                        Он задаёт, например, что половина сообщение снова поступает на ОА, или 0,7 или 0,1 и снова смотрит, что произойдёт с очередью.
                    </li>
                </ol>
                <p>
                    Т.е. нужно сделать прогу, которая сначала выдаст минимальное t, потом подаём % и она снова выдаёт минимальное t.
                    И хорошо если ещё и статистики сюда прикрутим и можно будет посмотреть по каждому устройству как оно нагружено, т.е. типо своего мини-GPSS создадим.
                </p>
            </div>
        </div>
        <div class="result">
            <div class="result_info">
                <p>Результат выполнения</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <a href={{ url_for('index') }}>На главную</a>
    </div>
</div>
{% endblock %}