{% extends "base.html" %}
{% block myscript %}
<script type="module" src="../static/js/lab03/vanilla.js"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="header">
        <h1>
            Лабораторная работа № 3: предельные вероятности состояний, уравнения Колмогорова
        </h1>
    </div>
    <div class="meta_info">
        <div>
            Преподаватель <span>Рудаков И.В.</span>
        </div>
        <div>
            Выполнил студент <span>Шевченио И.С.</span>
        </div>
        <div>
            Группа ИУ7-68Б(В)
        </div>
        <div>
            2021 год
        </div>
    </div>
    <div class="content">
        <div class="task">
            <div class="task_info">
                <p>Описание задания</p>
            </div>
            <div class="task_descr">
                <p>
                    Есть система S с количеством состояний от 1 до 10 (N). Необходимо задать количество состояний,
                    тут же появляется матрица в которой мы должны указать на пересечении Si с Sj (S-итого с S-житым)
                    интенсивность перехода из состояния в состояние, если она (интенсивность) есть. Строки S1, S2, ..., Sn.
                    И столбец точно также пронумерован. Мы можем переходить из S1 в S1, переход такой возможен.
                    Необходимо найти предельные вероятности нахождения системы в том или ином состоянии, т.е. при t стремящемся к бесконечности, и время.
                    Если с вероятностями всё просто, то время - это не вероятность. И это даже совсем не пропорционально вероятности.
                    Нужно найти время, когда эта система попадает в установившееся состояние.
                    Лямбду задаёт пользователь (пересечение столбцов и строк матрицы, интенсивность).
                    Правая часть уравнения нуль, производной здесь нет - установившийся режим, константа.
                    Решить уравнение и найти вероятность. Время не может оказаться равным вероятности!
                </p>
            </div>
        </div>
        <div class="result">
            <div class="result_info">
                <p>Результат выполнения</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <a href={{ url_for('index') }}>На главную</a>
    </div>
</div>
{% endblock %}