{% extends "base.html" %}
{% block myscript %}
<script type="module" src="../static/js/lab05/vanilla.js"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="header">
        <h1>
            Лабораторная работа № 4: программная имитация i-ого прибора
        </h1>
    </div>
    <div class="meta_info">
        <div>
            Преподаватель <span>Рудаков И.В.</span>
        </div>
        <div>
            Выполнил студент <span>Шевченио И.С.</span>
        </div>
        <div>
            Группа ИУ7-68Б(В)
        </div>
        <div>
            2021 год
        </div>
    </div>
    <div class="content">
        <div class="task">
            <div class="task_info">
                <p>Описание задания</p>
            </div>
            <div class="task_descr">
                <p>
                    Разработать программу для моделирования следующей системы: в информационный центр приходят клиенты через интервал времени 10 +- 2 минуты.
                    Если все три имеющихся оператора заняты, клиенту отказывают в обслуживании.
                    Операторы имеют разную производительность и могут обеспечивать обслуживание среднего запроса пользователя за 20 +- 5; 40 +- 10; 40 +- 20.
                    Клиенты стремятся занять свободного оператора с максимальной производительностью.
                    Полученные запросы сдаются в накопитель. Откуда выбираются на обработку.
                    На первый компьютер запросы от 1 и 2-ого операторов, на второй – запросы от 3-его.
                    Время обработки запросов первым и 2-м компьютером равны соответственно 15 и 30 мин.
                    Промоделировать процесс обработки 300 запросов.
                    Найти вероятность отказа.
                </p>
            </div>
        </div>
        <div class="result">
            <div class="result_info">
                <p>Результат выполнения</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <a href={{ url_for('index') }}>На главную</a>
    </div>
</div>
{% endblock %}