{% extends "base.html" %}
{% block myscript %}
<script type="module" src="../static/js/lab01/vanilla.js"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="header">
        <h1>
            Лабораторная работа № 1: исследование последовательности псевдослучайных чисел
        </h1>
    </div>
    <div class="meta_info">
        <div>
            Преподаватель <span>Рудаков И.В.</span>
        </div>
        <div>
            Выполнил студент <span>Шевченио И.С.</span>
        </div>
        <div>
            Группа ИУ7-68Б(В)
        </div>
        <div>
            2021 год
        </div>
    </div>
    <div class="content">
        <div class="task">
            <div class="task_info">
                <p>Описание задания</p>
            </div>
            <div class="task_descr">
                <p>
                    Релазиовать проверку на случайность случайных величин, полученных из таблиц, алгоритмически или введенных пользователем.
                    Случайне величины для оценки брать одно-, двух- и трехразрядные
                    Необходимо придумать критерий случайности. Можно также воспользоваться литератуторй, см. 2-й монографии Д. Кнута.
                    Предусмотреть форму, где пользователь может сам задать последовательность чисел - после чего выводится итоговое число с оценкой случайности.
                </p>
            </div>
        </div>
        <div class="result">
            <div class="result_info">
                <p>Результат выполнения</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <a href={{ url_for('index') }}>На главную</a>
    </div>
</div>
{% endblock %}