.hidden {
    display: none;
    }

.box {
    background-color: rgb(247, 245, 242);
    border: 1px solid gray;
    border-radius: 16px;
    padding: 10px 10px;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px rgb(77, 30, 30);
    position: relative;
    width: 100%;
    height: 100%;
    text-align: justify;
    text-indent: 0.5cm;
}

label {
    font-weight: bold;
}

.label_main {
    border-radius: 16px;
    padding: 2px 6px;
    background-color: rgb(88, 78, 78);
    font-weight: bold;
    color: rgb(255, 255, 255)
}

.inner-container {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin: 5px 0px;
    padding: 10px 10px;
    box-sizing: border-box;
    width: 100%;
    /*height: 15%;*/
    overflow: auto;
}

.task {
    width: 100%;
    /*height: 20%;*/
}

.ctr_pan {
    width: 100;
    /*height: 5%;*/
}

.content {
    width: 100%;
    /*height: 45%;*/
}

.rb_group {
    margin-right: 10px;
}

.ctr_pan_label {
    display: block;
}

.ctr_pan_display {
    width: 40px;
    height: 20px;
    display: inline-block;
    background-color: black;
    vertical-align: bottom;
    margin-left: 10px;
    text-align: center;
    color:rgb(247, 245, 242);
    font-weight: 900;
    text-align: right;
    text-indent: initial;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 16px;
}

th {
    border: 1px solid black;
    text-align: center;
    padding: 0px 20px;    
}

td {
    border: 1px solid black;
    text-align: right;
  }

tbody tr:nth-child(odd) {
  background-color: #dddddd;
}

thead, thead th, tfoot, tfoot th, tfoot td {
    background-color: rgb(88, 78, 78);
    color: rgb(247, 245, 242);
    font-weight: bold;
    border: 1px solid rgb(247, 245, 242);
}

tbody input {
    all: initial;
}